@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --font-title: 'Outfit', sans-serif;
    --font-text: 'Outfit', sans-serif;

    --color-title: hsl(218, 44%, 22%);
    --color-text: hsl(216, 15%, 100%);
    --color-bg: hsl(212, 45%, 89%);
    --color-card: #fff;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: hsl(212, 45%, 89%);
}

.card {
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: var(--color-card);
    padding: 16px 16px 40px 16px;  
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.card-content {
    text-align: center;
    padding: 20px;
}

.card-title {
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0px;
    font-family: var(--font-title);
    font-weight: 700;
    margin-bottom: 16px;
    color: var(--color-title);
}

.card-text {
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    font-family: var(--font-text);
    font-weight: 400;
    color: var(--font-text);
}